<h4>Details of the user:</h4>
    user Id:{{user.id}}<br>
    User Name:{{user.name}}<br>
    user email:{{user.email}}<br>
    username:{{user.username}}<br>
   <!-- <pre>{{user.address | json}}</pre>-->
   <button class="btn btn-success" (click)="createUser()">Create User</button>
   <button class="btn btn-primary" (click)="updateUser()">Update User</button>
   <button class="btn btn-denger" (click)="deleteUser()">Delete User</button>
   <button class="btn btn-warning" (click)="getUserPosts()">Get Posts by User</button>

 
